section.about 
  .container 
    .title.title--bottom-line
      h2.title__header About us
      .title__text We are added our major Services
    
    ul.about__list
      li.about__item
        .icon.icon-like
        h3.about__header Facebook Marketing
        p.about__description.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, dignissimos? Nostrum, nam!
     
      li.about__item
        .icon.icon-book
        h3.about__header landing pages Creation
        p.about__description.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, unde.
    
      li.about__item
        .icon.icon-message
        h3.about__header Ads management
        p.about__description.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, nemo explicabo.